@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; 

body{
    background-color: rgb(223, 204, 204);
}

nav{
    background-image: url("./img/hero2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
#buscar-submit{
    background-image: url("./img/lupa.png");
    background-repeat: no-repeat;
    background-position:left center;
    width:40px;
    position:relative;
    bottom:35px;
    left:225px;
}
#buscar-input{
    width:100%;
    display:inline;
}

svg:hover{
    color: #fff;
    cursor: pointer;
    transition:all .3s ease-out;
}
svg:not(.p){
    margin:0 50px;

}

.counter{
    top: -35px;
    left: 17px;
    width:16px;
    height:16px;
    outline: 2px solid #000;
    text-align:center ;
    line-height:16px;
    font-size: 10px;    
    margin:0 50px;

    font-weight: bold;
}

.inputSearch{
    background: rgba(204, 204, 204, 0.195);
}
.inputSearch:hover{
    background: rgba(204, 204, 204, 0.395);

}