@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; 

body{
    background-color: #f6efef;
}

nav{
    background-image: url("./img/hero2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
#buscar-submit{
    background-image: url("./img/lupa.png");
    background-repeat: no-repeat;
    background-position:left center;
    width:40px;
    position:relative;
    bottom:35px;
    left:225px;
}
#buscar-input{
    width:100%;
    display:inline;
}

svg:hover:not(.p){
    color: #fff;
    cursor: pointer;
    transition:all .3s ease-out;
}
svg:not(.p){
    margin:0 50px;
}

.counter{
    top: -35px;
    left: 17px;
    width:16px;
    height:16px;
    outline: 2px solid #000;
    text-align:center ;
    line-height:16px;
    font-size: 10px;    
    margin:0 50px;

    font-weight: bold;
}

.inputSearch{
    background: rgba(204, 204, 204, 0.195);
}
.inputSearch:hover{
    background: rgba(204, 204, 204, 0.395);

}

.item{
    animation:animate .7s ease-out;
}
.item:hover{
    transform:scale(1.019);
    transition:transform 1s;
}

.comprar {
    padding: 8px;
    background :rgba(20, 204, 20, 0.614);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0,0, 0.3);
    font-weight: bold;
    color: #fff;

}

.comprar:hover{
    background :rgba(20, 204, 20, 0.914);
    transition:background .2s ease-in-out;

}

.añadir{
    padding: 8px;
    background :rgba(20, 161, 204, 0.614);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0,0, 0.3);
    font-weight: bold;
    color: #fff;

}
.añadir:hover{
    background :rgba(20, 161, 204, 0.814);
    transition:background .3s ease;
}

.container{
    animation: show .7s ease-in-out ;
}

.someEfect{
    animation: show .7s ease-in-out ;
}


@keyframes show {
    from{
        opacity:0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes animate {
    from{
        transform: scale(.6);
        opacity:.5;
    }
    to{
       transform: scale(1);
        opacity:1;
    }
}   